@import url(sbros.css);
@import url(fonts.css);
*{
    box-sizing: border-box;
}
.firstslide{
    height: 700px;
    width: 100%;
    background-image: url(../img/Background.png);
    padding-top: 46px;
    background-color: #000;

}
.fonfirst{
    height: 700px;
    width: 100%;
}
.zagfirst{
    margin-left: 241px;position: absolute;
    width: 901px;
    height: 36px;
    display: flex;
    justify-content: space-between;

}
.dreamfirst{
    font-family: 'Montserrat';
font-weight: 700;
font-size: 20px;
line-height: 24px;
display: flex;
align-items: flex-end;
color: #FFFFFF;
margin-top: 0px;
max-height: 24px;
}
.reg{
    width: 153px;
    display: flex;
    max-height: 36px;
    justify-content: space-between;
}
.log{
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;    
    display: flex;
    align-items: flex-end;
    color: #FFFFFF;
    max-width: 44px;
margin-top: auto;
margin-bottom: auto;

}
.sign{
   max-height: 36px;
max-width: 90px;border: 2px solid #FFFFFF;
border-radius: 40px;
}

.signup{
    width: 55px; 
    height: 17px;
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    display: flex;margin-left: 18px;margin-top: 10px;
    align-items: flex-end;
    color: #FFFFFF;
}
.bignap{
    font-family: 'Montserrat';
font-weight: 700;
font-size: 52px;
line-height: 63px;
text-align: center;
color: #FFFFFF;
width: 470px;
height: 126px;
margin-top: 147.5px;
margin-left: auto;
margin-right: auto;
}
.middlenap{
    margin: 28.5px auto 0px auto;
    width: 395px;
    height: 25px;
    font-family: 'Roboto';
font-weight: 300;
font-size: 24px;
line-height: 24px;
align-items: flex-end;
text-align: center;

color: #F7F3F2;

}
.rednap{
    width: 225px;
height: 40px;
background: #FF4E50;
border-radius: 40px;
font-family: 'Montserrat';
font-weight: 700;
font-size: 14px;
line-height: 17px;
align-items: flex-end;
text-align: center;
color: #FFFFFF;
padding-top: 12px;
margin-top: 33px;
margin-left: auto;
margin-right: auto;
}
.secondslide{
    margin-top: 95px;
    width: 940px;
    height: 461px;
    margin-left: auto;
    margin-right: auto;
}
.seczag{width: 342px;
    margin-top: 6px;
    margin-left: auto; 
    margin-right: auto ;
    font-family: 'Montserrat';
font-weight: 700;
font-size: 26px;
line-height: 32px;
display: flex;
align-items: flex-end;
text-align: center;
color: #444444;
justify-content: space-between;
display: flex;
}
.seccont{
    margin-top: 35px;
width: 940px;
    justify-content: space-between;
display: flex;
}
.secblock1{
    background-image: url(../img/sec1.png);
    width: 300px;
    height: 400px;
}
.secblock2{
    background-image: url(../img/sec2.png);
    width: 300px;
    height: 400px;
}
.secblock3{
    background-image: url(../img/sec3.png);
    width: 300px;
    height: 400px;
}
.secred1{
    background: #FF4E50;
border-radius: 40px;
width: 70px;
height: 20px;
padding-left: 14px;
font-family: 'Montserrat';
font-weight: 400;
font-size: 10px;
line-height: 12px;
display: flex;
letter-spacing: 2px;
color: #FFFFFF;
padding-top: 5px;
margin-top: 224px;
margin-left: 25px;
}
.secbig1{
    margin: 18px auto 0px auto;
    width: 250px;
height: 58px;
font-family: 'Montserrat';
font-weight: 700;
font-size: 24px;
line-height: 26px;
display: flex;
color: #FFFFFF;
}
.secsmall1{
    width: 250px;
height: 57px;
margin: 10px auto 0px auto;
font-family: 'Roboto';
font-weight: 300;
font-size: 14px;
line-height: 14px;
display: flex;
align-items: flex-end;
color: #E3E3E3;
}
.secred2{
    background: #FF4E50;
border-radius: 40px;
width: 70px;
height: 20px;
padding-left: 14px;
font-family: 'Montserrat';
font-weight: 400;
font-size: 10px;
line-height: 12px;
display: flex;
letter-spacing: 2px;
color: #FFFFFF;
padding-top: 5px;
margin-top: 255px;
margin-left: 25px;
}
.secbig2{
    margin: 17px auto 0px auto;
    width: 250px;
height: 29px;
font-family: 'Montserrat';
font-weight: 700;
font-size: 24px;
line-height: 26px;
display: flex;
color: #FFFFFF;
}
.secsmall2{
    width: 250px;
height: 57px;
margin: 9px auto 0px auto;
font-family: 'Roboto';
font-weight: 300;
font-size: 14px;
line-height: 14px;
display: flex;
align-items: flex-end;
color: #E3E3E3;
}
.secred3{
    background: #FF4E50;
border-radius: 40px;
width: 70px;
height: 20px;
padding-left: 14px;
font-family: 'Montserrat';
font-weight: 400;
font-size: 10px;
line-height: 12px;
display: flex;
letter-spacing: 2px;
color: #FFFFFF;
padding-top: 5px;
margin-top: 219px;
margin-left: 25px;
}
.secbig3{
    margin: 18px auto 0px auto;
    width: 250px;
height: 58px;
font-family: 'Montserrat';
font-weight: 700;
font-size: 24px;
line-height: 26px;
display: flex;
color: #FFFFFF;
}
.secsmall3{
    width: 250px;
height: 57px;
margin: 10px auto 0px auto;
font-family: 'Roboto';
font-weight: 300;
font-size: 14px;
line-height: 14px;
display: flex;
align-items: flex-end;
color: #E3E3E3;
}
.thirdslide{
    margin-top: 95px;
    width: 941px;
    height: 361px;
    margin-left: auto;
    margin-right: auto;   
}
.thirdzag{
    width: 491px;
height: 32px;
margin-top: -6px;
margin-left: auto;
margin-right: auto;
font-family: 'Montserrat';
font-weight: 700;
font-size: 26px;
line-height: 32px;
display: flex;
align-items: flex-end;
text-align: center;
color: #444444;
}
.thirdcont{
    display: flex;
    height: 224px;
    width: 941px;
    margin-top: 35px;
}
.pers1,
.pers2{
    width: 221px;
    height: 205px;
    margin-right: 19px;
}
.pers3{
    margin-right: 19px;

}
.pers3,
.pers4{
    width: 221px;
    height: 224px;
}
.ava{
    width: 120px;
    height: 120px;
display: flex;
margin: 0 auto;

}
.thirdbigimg{
    border-radius: 50%;
    width: 114px;
    height: 114px;
    margin: auto;
}
.box{position: absolute;
    border-radius: 50%;
background-color: #FF4E50;
    width: 32px;
    height: 32px;
    margin-top:88px;
    margin-left: 86px;
}
.box2{position: absolute;
    border-radius: 50%;
background-color: #19D4CA;
    width: 32px;
    height: 32px;
    margin-top:88px;
    margin-left: 86px;
}
.box3{position: absolute;
    border-radius: 50%;
background-color: #FFA710;
    width: 32px;
    height: 32px;
    margin-top:88px;
    margin-left: 86px;
}
.box4{position: absolute;
    border-radius: 50%;
background-color: #667DF3;
    width: 32px;
    height: 32px;
    margin-top:88px;
    margin-left: 86px;
}
.thirdsmallimg{
    width: 16px;height:16px;
    margin: 8px;
}
.thirdname{
    width: 95px;
height: 18px;
font-family: 'Montserrat';
font-weight: 700;
font-size: 14px;
line-height: 17px;
display: flex;
align-items: flex-end;
text-align: center;
color: #444444;
margin: 17px auto 12px auto;
}
.thirdinfo{
    width: 221px;
height: 38px;
font-family: 'Roboto';
font-weight: 300;
font-size: 14px;
line-height: 14px;
display: flex;
align-items: flex-end;
text-align: center;
color: #666666;
}
.thirdinfo2{
    width: 221px;
height: 38px;
font-family: 'Roboto';
font-weight: 300;
font-size: 14px;
line-height: 14px;
display: flex;
align-items: flex-end;
text-align: center;
color: #666666;
}
.thirdinfo3{
    width: 221px;
height: 57px;
font-family: 'Roboto';
font-weight: 300;
font-size: 14px;
line-height: 14px;
display: flex;
align-items: flex-end;
text-align: center;
color: #666666;
}
.thirdinfo4{
    width: 221px;
height: 57px;
font-family: 'Roboto';
font-weight: 300;
font-size: 14px;
line-height: 14px;
display: flex;
align-items: flex-end;
text-align: center;
color: #666666;
}
.thirdsee{
    width: 180px;
height: 40px;
background: #FFFFFF;
border: 2px solid #FF4E50;
border-radius: 40px;
font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 17px;
display: flex;
align-items: flex-end;
color: #FF4E50;
margin: 48px auto 0px auto;
}
.see3{
    width: 137px;
    height: 17px;
    margin: 12px 19px 11px 24px;
}
.fourslide{
    width: 940px;
    height: 1031px;
    margin-top: 95px;
    margin-left: auto;
    margin-right: auto;
}
.fourzag{
    width: 413px;
height: 32px;
font-family: 'Montserrat';
font-weight: 700;
font-size: 26px;
line-height: 32px;
display: flex;
align-items: flex-end;
text-align: center;
color: #444444;
margin: -6px auto 0px auto;
}
.fourcont{
    width: 100%;
    height: 970px;
}
.fourcard1,
.fourcard2,
.fourcard3{
    width: 100%;
    height: 310px;
    display: flex;
}
.fourcard1,
.fourcard2{
    margin-bottom: 20px;
}
.fourcard1img1{
    width: 300px;
height: 310px;
background-image: url(../img/a1.png);
}
.fourcard1img2{
    width: 300px;
height: 310px;
background-image: url(../img/a2.png);
margin-left: 20px;
}
.fourcard1img3{
    width: 300px;
height: 310px;
background-image: url(../img/a3.png) ;
margin-left: 20px;
background-color: #D8D8D8;
opacity: 0.7;
}
.fourcard1txt1{
    width: 209px;
height: 27px;
font-family: 'Montserrat';
font-weight: 700;
font-size: 22px;
line-height: 27px;
display: flex;
align-items: flex-end;
text-align: center;
color: #FFFFFF;
margin-top: 142px;
margin-left: 46px ;
}
.fourcard1txt2{
    width: 238px;
height: 27px;
font-family: 'Montserrat';
font-weight: 700;
font-size: 22px;
line-height: 27px;
display: flex;
align-items: flex-end;
text-align: center;
color: #FFFFFF;
margin-top: 142px;
margin-left: 31px ;
}
.fourcard1txt3{
    width: 187px;
    height: 54px;
font-family: 'Montserrat';
font-weight: 700;
font-size: 22px;
line-height: 27px;
display: flex;
align-items: flex-end;
text-align: center;
color: #FFFFFF;
margin-top: 128px;
margin-left: 57px ;
}
.fourcard2img1{
    width: 300px;
height: 310px;
background-image: url(../img/a4.png);
}
.fourcard2img2{
    width: 620px;
height: 310px;
background-image: url(../img/a5.png);
margin-left: 20px;
}
.fourcard2txt1{
    width: 80px;
height: 27px;
font-family: 'Montserrat';
font-weight: 700;
font-size: 22px;
line-height: 27px;
display: flex;
align-items: flex-end;
text-align: center;
color: #FFFFFF;
margin-top: 142px;
margin-left: 110px;
}
.fourcard2txt2{
    width: 261px;
    height: 27px;
font-family: 'Montserrat';
font-weight: 700;
font-size: 22px;
line-height: 27px;
display: flex;
align-items: flex-end;
text-align: center;
color: #FFFFFF;
margin-top: 142px;
margin-left: 180px;
}

.fourcard3img1{
    width: 620px;
height: 310px;
background-image: url(../img/a6.png);
}
.fourcard3img2{
    width: 300px;
height: 310px;
background-image: url(../img/a7.png);
margin-left: 20px;
}
.fourcard3txt1{
    width: 277px;
    height: 27px;
font-family: 'Montserrat';
font-weight: 700;
font-size: 22px;
line-height: 27px;
display: flex;
align-items: flex-end;
text-align: center;
color: #FFFFFF;
margin-top: 142px;
margin-left: 172px;
}
.fourcard3txt2{
    width: 114px;
    height: 27px;
font-family: 'Montserrat';
font-weight: 700;
font-size: 22px;
line-height: 27px;
display: flex;
align-items: flex-end;
text-align: center;
color: #FFFFFF;
margin-top: 142px;
margin-left: 92.5px;
}
.fiveslide{
    width: 482px;
height: 158px;
margin: 95px auto 0px auto;
}
.fivezag{width: 358px;
    height: 32px;
margin-top: 6px;
margin-left: 62px;
font-family: 'Montserrat';
font-weight: 700;
font-size: 26px;
line-height: 32px;
display: flex;
align-items: flex-end;
text-align: center;
color: #444444;
}
.fivetext{
    width: 415px;
height: 24px;
margin-left: 35px;
margin-top: 43px;
font-family: 'Roboto';
font-weight: 300;
font-size: 18px;
line-height: 14px;
display: flex;
align-items: flex-end;
text-align: center;
color: #666666;
}
.fivepole{display: flex;
    width: 482px;
height: 40px;
margin-top:25px ;
}
.polefive{
    width: 284.38px;
height: 26px;
background: #FFFFFF;
border: 1px solid #D4D4D4;
box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.073313);
border-radius: 3px;
padding-left: 14.62px;
padding-top: 14px;
font-family: 'Roboto';
font-weight: 300;
font-size: 14px;
line-height: 16px;
display: flex;
align-items: flex-end;
color: #999999;
}
.fivered{
    width: 172.12px;
    height: 40px;
    background: #FF4E50;
border-radius: 40px;
padding-top: 12px;
padding-left: 30px;
font-family: 'Montserrat';
font-weight: 700;
font-size: 14px;
line-height: 17px;
display: flex;
align-items: flex-end;
color: #FFFFFF;
margin-left: 10px;
}
.floor{
    border-top: 2px solid #FF4E50;
    border-bottom: 2px solid #FF4E50;
    width: 1440px;
height: 224px;
margin-top: 100px;
margin-left: auto;
margin-right: auto;
display: flex;
margin-bottom: 36px;
}
.dream{
    width: 119px;
height: 20px;
font-family: 'Montserrat';
font-weight: 400;
font-size: 16px;
line-height: 20px;
display: flex;
align-items: flex-end;
color: #FF4E50;
margin-top: 38px;
margin-left: 249px;
}
.comp{width: 114px;
height: 184px;
margin-top: 40px;
margin-left: 122px;
}
.lastzag{
    width: 70px;
height: 17px;
font-family: 'Montserrat';
margin-bottom: 10px;
font-weight: 700;
font-size: 14px;
line-height: 17px;
display: flex;
align-items: flex-end;
color: #444444;
}
.spisok{
    width: 114px;
height: 156px;
font-family: 'Roboto';

font-weight: 300;
font-size: 14px;
line-height: 26px;
color: #999999;
}
.part{
    width: 64px;
height: 17px;
font-family: 'Montserrat';
font-weight: 700;
font-size: 14px;
line-height: 17px;
display: flex;
align-items: flex-end;
color: #444444;
margin-left: 125px;
margin-top: 40px;
margin-right: 287px;
}
.minlogo{
    width: 110px;
    height: 45px;
    margin-top: 40px;
}
.mini{
    width: 83px;
height: 12px;
font-family: 'Montserrat';
font-weight: 700;
font-size: 10px;
line-height: 12px;
display: flex;
align-items: flex-end;
letter-spacing: 1px;
color: #CCCCCC;
margin-right: 0px;
margin-bottom: 7px;
}
.lastt{
    width: 110px;
height: 24px;
}